@import "tailwindcss";

:root {
    --color-cream: 238 238 255;
    --color-gold: 181 186 114;
    --color-terracota: 118 65 52;
    --color-teal: 62 98 89;

}


/*Reseteo*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

.navGradiente {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientShift {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.animate-fade-in-up {
    animation: fadeInUp 1s ease forwards;
}

.gradientShift {
    animation: gradientShift 20s ease infinite;
}

.fontCormorant {
    font-family: 'Cormorant_Garamond';
}

.fontMontserrat {
    font-family: 'Montserrat';
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}